{% extends 'base.html' %}

{% block title %}Personal Area{% endblock %}

{% block content %}
<section>
  <h2>Current Balance</h2>
  <div class="balance">
    <p>Balance: {{ current_account.balance }}</p>
    <p>Currency: {{ current_account.currency }}</p>
  </div>
</section>

<section>
            <h2>Transfer Money</h2>

            <form action="{{ url_for('account.transfer') }}" method="POST">
                    <input type="hidden" name="sender" value="{{ current_user.username }}">
                <div class="form-group">
                    <label for="recipient">Recipient:</label>
                    <select name="recipient" id="recipient" required>
                        {% for user, _ in users_accounts.items() %}
                        <option value="{{ user.username }}">{{ user.username }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="amount">Amount:</label>
                    <input type="number" step="0.01" name="amount" id="amount" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="button">Transfer</button>
                </div>
            </form>
        </section>
{% endblock %}
