{% extends "base.html" %}

{% block title %}
    Bank App
{% endblock %}

{% block content %}
    <div class="hero">
        <h1>Welcome to Zelda Bank App!</h1>
    </div>

    <main>
        <section>
  
</section>
        <section>
            <h2>Exchange Rates</h2>

            <table>
                <tr>
                    <th>Currency</th>
                    {% for code, rate in exchange_rates.items() %}
                    <th>{{ code }}</th>
                    {% endfor %}
                </tr>
                {% for code, rate in exchange_rates.items() %}
                <tr>
                    <td>{{ code }}</td>
                    {% for target_code, rate_value in rate.items() %}
                    <td>{{ rate_value }}</td>
                    {% endfor %}
                </tr>  
            {% endfor %}
        </table>
    </section>
</main>
{% endblock %}