<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Zelda Bank{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<header>
    <img src="{{ url_for('static', filename='bank_logo.png') }}" alt="Bank Logo">
    <nav>
        <ul>
            <li><a href="{{ url_for('account.index') }}">Home</a></li>
            {% if user %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                <li><a href="{{ url_for('account.personal_area') }}">{{ user.username }}</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
            <li><a href="#">Loans</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
</header>


    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Zelda Bank. All rights reserved.</p>
    </footer>
</body>
</html>
